		<div>
			<svg viewBox="0 0 1168 698">
				<defs>

					<g id="eg-haustuer">
						<path d="M0,0 l98,0 A 98 98 0 0 1 0,98" stroke="#aaa" fill="none" />
					</g>
					<g id="eg-wctuer">
						<path d="M0,0 l0,-68 A 68 68 0 0 1 68,0" stroke="#aaa" fill="none" />
					</g>
					<g id="eg-zwischentuer">
						<path d="M0,0 l84,0 A 84 84 0 0 1 0,84" stroke="#aaa" fill="none" />
					</g>
					<g id="eg-wohnzimmer-tuer">
						<path d="M0,0 l0,-78 A 78 78 0 0 0 -78,0" stroke="#aaa" fill="none" />
					</g>
					<g id="eg-wohnzimmer-fenster">
						<path d="M0,0 l126,0 M0,-30 l126,0" stroke="black" fill="none" />
						<path d="M0,-13 l126,0 M8,-17 l0,4 M0,-17 l126,0 m-8,0 l0,4" stroke="#777" fill="none" />
					</g>
					<g id="eg-kuechentuer">
						<path d="M0,-13 l149,0 M8,-17 l0,4 M49,-17 l0,4 M59,-17 l0,4 M0,-17 l149,0 m-8,0 l0,4 l 0,80 a 80 80 0 0 1 -80,-80" stroke="#777" fill="none" />
					</g>
					<g id="eg-rollenspiel-tuer">
						<path d="M0,0 l84,0 A 84 84 0 0 0 0,-84" stroke="#aaa" fill="none" />
					</g>
					<g id="eg-rollenspiel-fenster">
						<path d="M0,0 l237,0 M0,39 l237,0" stroke="black" fill="none" />
						<path d="M0,17 l237,0 M8,21 l0,-4 M0,21 l237,0 m-8,0 l0,-4 M113,17 l0,4 M123,17 l0,4" stroke="#777" fill="none" />
					</g>
					<g id="eg-flurfenster">
						<path d="M0,0 l202,0 M0,39 l202,0" stroke="black" fill="none" />
						<path d="M0,17 l202,0 M8,21 l0,-4 M0,21 l202,0 m-8,0 l0,-4 M65,17 l0,4 M73,17 l0,4 M129,17 l0,4 M137,17 l0,4" stroke="#777" fill="none" />
					</g>

				</defs>
				<g id="eg" transform="translate(41 31)">
					<!-- Linker Teil Wohnzimmer -->
					<polygon points="-39,-30 170,-30 170,0 0,0 0,363 67,363 67,376 225,376 225,403 133,403 133,418 116,418 116,403 0,403 0,415 -39,415" fill="url(#diagonalHatch)" stroke="black" />
					<!-- Rechter Teil Wohnzimmer, linker Teil K체che -->
					<polygon points="298,0 337,0 337,376 303,376 303,403 515,403 515,376 352,376 352,0 479,0 479,-30 298,-30" fill="url(#diagonalHatch)" stroke="black" />
					<!-- Wand K체che/Rollenspiel -->
					<polygon points="600,403 700,403 700,426 728,426 728,0 1095,0 1095,627 975,627 975,666 1125,666 1125,-30 628,-30 628,0 700,0 700,361 640,361 640,376 600,376" fill="url(#diagonalHatch)" stroke="black" />
					
					<!-- Haust체r bis WC-Fenster -->
					<polygon points="-39,513 0,513 0,525 35,525 35,540 0,540 0,550 -39,550" fill="url(#diagonalHatch)" stroke="black" />
					<!-- G채ste-WC -->
					<polygon points="-39,570 0,570 0,627 116,627 116,540 103,540 103,525 116,525 116,502 133,502 133,627 153,627 153,666 -39,666" fill="url(#diagonalHatch)" stroke="black" />
					<!-- Flur ab Fenster hinter Treppe -->
					<polygon points="356,627 700,627 700,510 728,510 728,627 738,627 738,666 356,666" fill="url(#diagonalHatch)" stroke="black" />

					<use href="#eg-stair" x="308" y="529" />
					<use href="#eg-haustuer" x="0" y="415" />
					<use href="#eg-wctuer" x="35" y="525" />
					<use href="#eg-zwischentuer" x="133" y="418" />
					<use href="#eg-wohnzimmer-tuer" x="303" y="376" />
					<use href="#eg-wohnzimmer-fenster" x="171" y="0" />
					<use href="#eg-kuechentuer" x="479" y="0" />
					<use href="#eg-rollenspiel-tuer" x="728" y="510" />
					<use href="#eg-rollenspiel-fenster" x="738" y="627" />
					<use href="#eg-flurfenster" x="154" y="627" />

					<use href="#l-e01-1" x="60" y="465" />
					<use href="#l-e01-1" x="190" y="465" />
					<use href="#l-e01-1" x="190" y="580" />
					<use href="#l-e01-1" x="300" y="465" />
					<use href="#l-e01-1" x="300" y="580" />
					<use href="#l-e01-1" x="410" y="465" />
					<use href="#l-e01-1" x="520" y="465" />
					<use href="#l-e01-1" x="630" y="465" />
					<use href="#l-e02-1" x="60" y="580" />
					<use href="#l-e03-1" x="168" y="180" />
					<use href="#l-e04-1" x="425" y="110" />
					<use href="#l-e04-2" x="692" y="50" />
					<use href="#l-e04-2" x="692" y="100" />
					<use href="#l-e04-2" x="692" y="150" />
					<use href="#l-e04-2" x="692" y="200" />
					<use href="#l-e04-2" x="692" y="330" />
					<use href="#l-e04-3" x="670" y="255" />
					<use href="#l-e04-3" x="670" y="280" />
					<use href="#l-e05-1" x="920" y="300" />
  			</g>
			</svg>
		</div>
